.banner {
    padding: 10px;
    background-color: #2F3FB0;
    color: white;
}

.banner-text {
    padding: 8px 20px;
    margin: 0;
}

#join-form {
    margin-top: 10px;
}

.tips {
    font-size: 12px;
    margin-bottom: 2px;
    color: gray;
}

.join-info-text {
    margin-bottom: 2px;
}

input {
    width: 100%;
    margin-bottom: 2px;
}

.player {
    width: 480px;
    height: 320px;
}

.player-name {
    margin: 8px 0;
}

@media (max-width: 640px) {
    .player {
        width: 320px;
        height: 240px;
    }
}

.all-users-text {
    background: rgba(12, 157, 253, 0.897);
    padding: 30px;
    color: white;
    border-radius: 15px;
    max-height: 500px;
    overflow: scroll;
}

#host-join, #audience-join, #leave, #raise-hand, #mic-btn, #video-btn {
    background-color: #0C9DFD;
    color: white;
    border-radius: 5px;
}

#host-join:hover, #leave:hover, #audience-join:hover, #raise-hand:hover, #mic-btn:hover, #video-btn:hover {
    background-color: rgba(2, 133, 221, 0.911);
}

.btn-live {
    outline: none;
    border: 1px solid white;
    box-shadow: none;
}

.btn-live:hover, .btn-live:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid white;
    background: rgb(12, 157, 253);
}